/* .chart-container {
  display: flex;
  justify-content: center;
  background-color: aqua;
  align-items: center;
  padding: 0 1rem;
  margin: 0 auto;
} */
.chart {
  padding: 1rem;
  border-radius: 12px;
  background-color: #f8dfff;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 10rem;
}
